<a href="https://colab.research.google.com/github/SALAMIRasaki/3MTT-Training-Test/blob/main/LAB_2_EXCERCISE_(LOOPING).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 2

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_02.ipynb)

This notebook contains exercises based on the lectures on [**String Operations**](https://geog-312.gishub.org/book/python/04_string_operations.html) and [**Looping and Control Statements**](https://geog-312.gishub.org/book/python/05_looping.html). These exercises will help reinforce the concepts of string manipulation, loops, and conditionals in geospatial contexts.

## Exercise 1: Manipulating Geographic Location Strings

- Create a string that represents the name of a geographic feature (e.g., `"Amazon River"`).
- Convert the string to lowercase and then to uppercase.
- Concatenate the string with the name of the country (e.g., `"Brazil"`) to create a full location name.
- Repeat the string three times, separating each repetition with a dash (`-`).

In [ ]:
Geo_feature = "Amazon River"
Geo_feature

'Amazon River'

In [ ]:
Geo_feature.lower()

'amazon river'

In [ ]:
print(Geo_feature.upper())

AMAZON RIVER

In [ ]:
location_name = Geo_feature +  " Brazil"

print(location_name)

Amazon River Brazil

In [ ]:
result = "_"

for i in range(3):
  result += location_name + ", _"

print(result)

_Amazon River Brazil, _Amazon River Brazil, _Amazon River Brazil, _

## Exercise 2: Extracting and Formatting Coordinates

- Given a string with the format `"latitude, longitude"` (e.g., `"40.7128N, 74.0060W"`), extract the numeric values of latitude and longitude.
- Convert these values to floats and remove the directional indicators (`N`, `S`, `E`, `W`).
- Format the coordinates into a `POINT` WKT string (e.g., `"POINT(-74.0060 40.7128)"`).

In [ ]:
latitude = "40.7128N"

longitude="74.0060W"

In [ ]:
latitude = latitude.replace("N", "")

longitude =longitude.replace("W", "")


print(latitude)
print(longitude)

40.7128
74.0060

In [ ]:
latitude = float(latitude)
longitude = float(longitude)        # prompt: latitude.dtype

print(type(latitude))
print(type(longitude))

<class 'float'>
<class 'float'>

In [ ]:
def point_wkt(latitude, longitude):
  return f"POINT :({latitude}, {longitude})"

point = point_wkt(latitude, longitude)

print(point)

POINT :(40.7128, 74.006)

In [ ]:
location ='Osun'
point =f"coordinates :{latitude}, {longitude}, {location}"

print(point)

coordinates :40.7128, 74.006, Osun

In [ ]:
print(type(latitude))
print(type(longitude))

<class 'float'>
<class 'float'>

## Exercise 3: Building Dynamic SQL Queries

- Given a table name and a condition, dynamically build an SQL query string.
- Example: If `table_name = "cities"` and `condition = "population > 1000000"`, the query should be `"SELECT * FROM cities WHERE population > 1000000;"`.
- Add additional conditions dynamically, like `AND` clauses.

In [ ]:
table_name = 'cities'
condition = "population > 1000000"
date = "2023-01-01"

SQL_QUERY = f"SELECT * FROM {table_name} WHERE {condition} AND {date} "

print(SQL_QUERY)

SELECT * FROM cities WHERE population > 1000000 AND 2023-01-01

## Exercise 4: String Normalization and Cleaning

- Given a list of city names with inconsistent formatting (e.g., `[" new york ", "Los ANGELES", "   CHICAGO"]`), normalize the names by:
  - Stripping any leading or trailing whitespace.
  - Converting them to title case (e.g., `"New York"`, `"Los Angeles"`, `"Chicago"`).
- Ensure that the output is a clean list of city names.

In [ ]:
city_names =[" new york ", "Los ANGELES", " CHICAGO"]

city_names

[' new york ', 'Los ANGELES', ' CHICAGO']

In [ ]:
city_name= [city_names.strip().title() for city_names in city_names]

city_name

['New York', 'Los Angeles', 'Chicago']

## Exercise 5: Parsing and Extracting Address Information

- Given a string in the format `"Street, City, Country"` (e.g., `"123 Main St, Springfield, USA"`), write a function that parses the string into a dictionary with keys `street`, `city`, and `country`.
- The function should return a dictionary like `{"street": "123 Main St", "city": "Springfield", "country": "USA"}`.

In [ ]:
address = "123 Main St, Springfield, USA"
Street, City, Country = address.split(", ")


print(f"Street :{Street}, City :{City}, Country :{Country}")

Street :123 Main St, City :Springfield, Country :USA

## Exercise 6: Using For Loops to Process Coordinate Lists

- Create a list of tuples representing coordinates (latitude, longitude).
- Write a `for` loop that prints each coordinate and indicates whether it is in the Northern or Southern Hemisphere based on the latitude.

In [ ]:
coordinates = [(40.7128, 74.0060),
               (35.6895,  139.6917),
               (34.0522,   -118.2437),
               (51.5074,   -0.1278),
               ]

for lat, lon in coordinates:
  print((f"LATITUDE :{lat}, LONGITUDE : {lon}"))

LATITUDE :40.7128, LONGITUDE : 74.006
LATITUDE :35.6895, LONGITUDE : 139.6917
LATITUDE :34.0522, LONGITUDE : -118.2437
LATITUDE :51.5074, LONGITUDE : -0.1278

In [ ]:
coordinate = [(40.7128, 74.0060),
               (35.6895,  139.6917),
               (34.0522,   -118.2437),
               (51.5074,   -0.1278),
               ]
for lat, lon in coordinate:

  if lat >0:

    Hemisphere = "Northern"
  else:
    Hemisphere ="Southern"

  if lon > 0:

    direction = "Eastern"
  else:
    direction= "Western"


  print(
    f"The coordinate ({lat}, {lon}) is in the {Hemisphere} hemisphere and {direction} hemisphere."
  )

The coordinate (40.7128, 74.006) is in the Northern hemisphere and Eastern hemisphere.
The coordinate (35.6895, 139.6917) is in the Northern hemisphere and Eastern hemisphere.
The coordinate (34.0522, -118.2437) is in the Northern hemisphere and Western hemisphere.
The coordinate (51.5074, -0.1278) is in the Northern hemisphere and Western hemisphere.

In [ ]:
for lat, lon in coordinates:

  if lat >0:

    Hemisphere = "Northern"
  else:
    Hemisphere ="Southern"

  if lon > 0:

    direction = "Eastern"
  else:
    direction= "Western"


print(f"coordinates : ({lat, lon} is in the {Hemisphere} Hemisphere and {direction} Hemisphere)")

coordinates : ((51.5074, -0.1278) is in the Northern Hemisphere and Western Hemisphere)

## Exercise 7: While Loops for Iterative Processing

- Create a list of coordinates (latitude, longitude).
- Write a `while` loop that continues to print each coordinate until it encounters a coordinate with a negative latitude.
- Stop the loop once this condition is met.

In [ ]:
coordinates_list = [40.7128, 74.0060,
               35.6895,  139.6917,
               34.0522,   -118.2437,
               51.5074,   -0.1278,
               ]
print(coordinates_list)

[40.7128, 74.006, 35.6895, 139.6917, 34.0522, -118.2437, 51.5074, -0.1278]

In [ ]:
len(coordinates)

4

In [ ]:
index = 0
while  index < len(coordinates_list) and coordinates_list[index] >=0:
  print(coordinates_list[index])
  index +=1

40.7128
74.006
35.6895
139.6917
34.0522

## Exercise 8: Conditional Logic in Loops

- Create a list of coordinates and use a `for` loop to iterate over them.
- Use an `if-elif-else` statement inside the loop to classify each coordinate based on its longitude:
  - Print `"Eastern Hemisphere"` if the longitude is greater than 0.
  - Print `"Western Hemisphere"` if the longitude is less than 0.

In [ ]:
coordinates_list = [(40.7128, 74.00600),
               (35.6895,  139.6917),
               (34.0522,   -118.2437),
               (51.5074,   -0.1278),
               ]
print(coordinates_list)

[(40.7128, 74.006), (35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278)]

In [ ]:
for lat, lon in coordinates_list:
  if lon > 0:
    print(f"{lon} is in Eastern Hemisphere")

  elif lon < 0:
    print(f"{lon} is in the Western Hemisphere")

  else:
    print(f"{lon} is near the equator")

74.006 is in Eastern Hemisphere
139.6917 is in Eastern Hemisphere
-118.2437 is in the Western Hemisphere
-0.1278 is in the Western Hemisphere

## Exercise 9: Filtering Data with Combined Loops and Conditionals

- Given a list of coordinates, filter out and store only those located in the Southern Hemisphere (latitude < 0).
- Count the number of coordinates that meet this condition and print the result.

In [16]:
cordinates_HI = [(40.7128, 74.00600),
               (35.6895,  139.6917),
               (34.0522,   -118.2437),
               (51.5074,   -0.1278),
               (-87.3432,   140.0343)
               ]
print(cordinates_HI)

[(40.7128, 74.006), (35.6895, 139.6917), (34.0522, -118.2437), (51.5074, -0.1278), (-87.3432, 140.0343)]

In [23]:
Southern_Hemisphere = []

for lat, lon in cordinates_HI:
  if lat < 0:
    Southern_Hemisphere.append((lat, lon))
    print(Southern_Hemisphere)
    print(len(Southern_Hemisphere))

  else:
      print("No Southern Hemisphere")

No Southern Hemisphere
No Southern Hemisphere
No Southern Hemisphere
No Southern Hemisphere
[(-87.3432, 140.0343)]
1

## Exercise 10: Generating and Analyzing Random Coordinates

- Write a program that generates random coordinates (latitude between [-90, 90] degrees and longitude between [-180, 180] degrees).
- Use a `while` loop to keep generating coordinates until a pair with both latitude and longitude greater than 50 is generated.
- Print each generated coordinate and the final coordinate that meets the condition.

In [12]:
import pandas as pd
import random

#Initialize an empty list

latitudes = []
longitudes= []

#Set the number of coordinate to generate

coord_num = 5

#Initialize a counter
index = 0

while index < coord_num:
  #Generate random latitude value between -90 and 90

  latitude = random.uniform(-90, 90)

  #Generate random longitude value between -180 and 180

  longitude = random.uniform(-180, 180)

  #Append the generated values to the lists

  latitudes.append(latitude)
  longitudes.append(longitude)

  #Increment Counter

  index +=1

  #Create a DataFrame with the Generated Values

  df = pd.DataFrame({
      "latitude": latitudes,
      "longitude": longitudes
  })
  print(df)

    latitude   longitude
0 -63.483385  122.228615
    latitude   longitude
0 -63.483385  122.228615
1 -40.770132  -51.079306
    latitude   longitude
0 -63.483385  122.228615
1 -40.770132  -51.079306
2  28.267895  -72.157292
    latitude   longitude
0 -63.483385  122.228615
1 -40.770132  -51.079306
2  28.267895  -72.157292
3 -11.443328 -128.373096
    latitude   longitude
0 -63.483385  122.228615
1 -40.770132  -51.079306
2  28.267895  -72.157292
3 -11.443328 -128.373096
4 -59.747256  109.056799

In [8]:
print(pd)

<module 'pandas' from '/usr/local/lib/python3.11/dist-packages/pandas/__init__.py'>