<a href="https://colab.research.google.com/github/SALAMIRasaki/3MTT-Training-Test/blob/main/LAB_01_ASS_(Working_with_List_and_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lab 1

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/giswqs/geog-312/blob/main/book/labs/lab_01.ipynb)

## Exercise 1: Variable Assignment and Basic Operations

Create variables to store the following geospatial data:

- The latitude and longitude of New York City: 40.7128, -74.0060.
- The population of New York City: 8,336,817.
- The area of New York City in square kilometers: 783.8.

Perform the following tasks:

1. Calculate and print the population density of New York City (population per square kilometer).
2. Print the coordinates in the format "Latitude: [latitude], Longitude: [longitude]".

In [ ]:
latitude = 40.7128
longitude = -74.0060
coordinate_system = "WGS 84"
NY_area_sqauare_kilometers = 783.8
NY_population = 8336817

population_density = NY_population/NY_area_sqauare_kilometers
latitude = 40.7128
longitude = -74.0060
coordinate_system = "WGS 84"
NY_area_sqauare_kilometers = 783.8
NY_population = 8336817

population_density = NY_population/NY_area_sqauare_kilometers
print("Population Density: ", population_density)

print(f"Latitude: {latitude}, Longitude: {longitude}")

Population Density:  10636.408522582293
Latitude: 40.7128, Longitude: -74.006

## Exercise 2: Working with Strings

Create a string variable to store the name of a city, such as "San Francisco". Perform the following operations:

1. Convert the string to lowercase and print the result.
2. Convert the string to uppercase and print the result.
3. Replace "San" with "Los" in the city name and print the new string.

In [ ]:
city = "San Franscisco"
print(city.lower())
print(city.upper())
print(city.replace("San", "Los"))

san franscisco
SAN FRANSCISCO
Los Franscisco

In [ ]:
ife = "Create a string variable to store the name of a city"

print(ife.lower())
print(ife.upper())
print(ife.replace("Create", "moderate"))

create a string variable to store the name of a city
CREATE A STRING VARIABLE TO STORE THE NAME OF A CITY
moderate a string variable to store the name of a city

## Exercise 3: Using Lists

Create a list of tuples, where each tuple contains the name of a city and its corresponding latitude and longitude:

- New York City: (40.7128, -74.0060)
- Los Angeles: (34.0522, -118.2437)
- Chicago: (41.8781, -87.6298)

Perform the following tasks:

1. Add a new city (e.g., Miami: (25.7617, -80.1918)) to the list.
2. Print the entire list of cities.
3. Slice the list to print only the first two cities.

In [ ]:
New_york = (40.7128, -74.0060)
Los_Angeles = (34.0522, -118.2437)
Chicago = (41.8781, -87.6298)

list_name =["New york", "Los Angeles", "Chicago"]
Turble_list = [(40.7128, -74.0060),
               (34.0522, -118.2437),
               (41.8781, -87.6298)]
Turble_list

Turble_list.append((25.7617, -80.1918))

print(Turble_list)
print(list_name)

[(40.7128, -74.006), (34.0522, -118.2437), (41.8781, -87.6298), (25.7617, -80.1918)]
['New york', 'Los Angeles', 'Chicago']

## Exercise 4: Using Tuples

Create a tuple to store the coordinates (latitude, longitude) of the Eiffel Tower: (48.8584, 2.2945). Perform the following tasks:

1. Access and print the latitude and longitude values from the tuple.
2. Try to change the latitude value to 48.8585. What happens? Explain why.

In [ ]:
latitude  =48.8584
longitude = 2.2945

Eiffel_Tower = (latitude, longitude)
print(Eiffel_Tower)

(48.8584, 2.2945)

## Exercise 5: Working with Sets

Create a set of countries you have visited, such as {"USA", "France", "Germany"}. Perform the following tasks:

1. Add a new country to the set.
2. Try to add the same country again. What happens?
3. Print the updated set.

In [ ]:
Countries = {"USA", "France", "Germany"}
Countries

{'France', 'Germany', 'USA'}

In [ ]:
Countries.add("Nigeria")
Countries

{'France', 'Germany', 'Nigeria', 'USA'}

## Exercise 6: Working with Dictionaries

Create a dictionary to store information about a specific geospatial feature, such as a river:

- Name: "Amazon River"
- Length: 6400 km
- Countries: ["Brazil", "Peru", "Colombia"]

Perform the following tasks:

1. Add a new key-value pair to the dictionary to store the river's average discharge (e.g., 209,000 mÂ³/s).
2. Update the length of the river to 6992 km.
3. Print the dictionary.

In [ ]:
geo_feature ={"Name": "Amazon River",
              "Length" : "6400km",
              "Countries": ["Brazil", "Peru", "Colombia"]
              }
average_discharge = 209,000

geo_feature["Average Discharge"] = average_discharge
geo_feature

{'Name': 'Amazon River',
 'Length': '6400km',
 'Countries': ['Brazil', 'Peru', 'Colombia'],
 'Average Discharge': (209, 0)}

## Exercise 7: Nested Data Structures

Create a dictionary to represent a city that contains the city's name, population, and coordinates (latitude, longitude):

- Name: "Tokyo"
- Population: 13,515,271
- Coordinates: (35.6895, 139.6917)

Perform the following tasks:

1. Access and print the population of the city.
2. Access and print the city's latitude.
3. Update the population to 14,000,000 and print the updated dictionary.

In [ ]:
Nested_city ={"Name": "Tokyo",
              "Population" : 13515271,
              "Coordinates": (35.6895, 139.6917)
              }

In [ ]:
print(Nested_city["Population"])
print(Nested_city['Coordinates'][0])

13515271
35.6895

## Exercise 8: List Operations

Given the list of cities from Exercise 3, perform the following operations:

1. Sort the list of cities alphabetically by name.
2. Create a new list that contains only the city names.
3. Remove the last city from the original list and print the updated list.

In [ ]:

list_name =["New york", "Los Angeles", "Chicago"]

list_name.sort()

print(list_name)

['Chicago', 'Los Angeles', 'New york']

In [ ]:
list_name.remove("New york")

In [ ]:
print(list_name)

['Chicago', 'Los Angeles']

## Exercise 9: Dictionary Operations

Using the dictionary from Exercise 6, perform the following tasks:

1. Check if the key "Length" exists in the dictionary.
2. Print all the keys in the dictionary.
3. Print all the values in the dictionary.

In [ ]:
len(geo_feature)

4

In [ ]:
print(geo_feature.keys())

print(geo_feature.values())

dict_keys(['Name', 'Length', 'Countries', 'Average Discharge'])
dict_values(['Amazon River', '6400km', ['Brazil', 'Peru', 'Colombia'], (209, 0)])

## Exercise 10: Practical Application

Imagine you have a list of tuples, each representing a location with its name, latitude, and longitude:

In [ ]:
locations = [
    ("Mount Everest", 27.9881, 86.9250),
    ("K2", 35.8808, 76.5155),
    ("Kangchenjunga", 27.7025, 88.1475),
]

Perform the following tasks:

1. Create a new list that contains only the names of the locations.
2. Create a dictionary where the keys are location names and the values are tuples of their coordinates.
3. Print the latitude of "K2" using the dictionary.

In [ ]:
Name_loc = ("Mount Everest", "K2","Kangchenjunga")

In [ ]:
locations_name = { "Name_loc" : ("Mount Everest", "K2","Kangchenjunga"),
                  "coordinates": [(27.9881, 86.9250), (35.8808, 76.5155), (27.7025, 88.1475)]
                  }


locations_name["coordinates"][1][0]

35.8808